APP_NAME=PropDunker Backend
APP_ENV=development
DEBUG=true

API_PREFIX=/api

# Database
DATABASE_URL=sqlite:///./propdunker.db

# CORS
CORS_ORIGINS=["http://localhost:3000","http://127.0.0.1:3000"]

# Opponent Defence Excel source
OPPONENT_DEFENCE_XLSX=C:\DEV\PROPDUNKER\EXPORT OPPONENTS DEFENCE\basketstories_oppdef.xlsx
